<!DOCTYPE html>
<html>
<head>
  <title>Wpractice</title>
  <%= stylesheet_link_tag    "wpractice/application", media: "all" %>
  <%= javascript_include_tag "wpractice/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
